.sprint {

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    background-color: #F4EFEA;

    .btn {
      text-align: center;
    }
  }

  &__choosePage {
    display: flex;
    flex-direction: column;
    max-width: 540px;
    align-items: center;
    padding: 20px;
  }

  &__content {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
  }

  &__chooseLvl {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  &-select {
    width: 80px;
    padding: 15px 20px;
    border-radius: 8px;
    border-color: #9a9a9a;

    &-label {
      position: absolute;
      left: 0;
      top: -30px;
      color: #414141;
      font-weight: 500;
      font-size: 14px;
      user-select: none;

      @media screen and (max-width: 344px) {
        left: auto;
      }
    }
  }
}


.sprintGame {

  &__container {
    background-color: #fff;
    padding: 20px 30px 50px 30px;
    width: 600px;
  }

  &__topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }

  &-timer {
    position: relative;
    color: #8D8D8D;
    padding-left: 36px;
    height: 30px;
    line-height: 30px;

    &::before {
      content: '';
      top: 0;
      left: 0;
      width: 25px;
      height: 30px;
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./assets/svg/sprint/clocks.svg')
    }
  }

  &-pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.correct {
      background-image: url('./assets/svg/sprint/correct.svg');
    }

    &.wrong {
      background-image: url('./assets/svg/sprint/wrong.svg');
    }
  }

  &-score {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #E8E8E8;
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    &-eng {
      color: #2d2d2d;
      margin-bottom: 20px;
      font-size: 42px;
      font-weight: 600;
    }
    &-ru {
      color: #2d2d2d;
      margin-bottom: 30px;
      font-size: 26px;
    }
  }

  &__answer-container {
    width: 390px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__answer-wrong {
    background: #DF5149;

    &:hover {
      background: #DF5149;
    }
  }

  &__answer-correct {
    background: #37A766;
    &:hover {
      background: #37A766;
    }
  }
}

.sprintStats {

  &__container {
    width: 600px;
    padding: 20px 30px 50px 30px;
    background-color: #fff;

    p {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  &__mistake_block {
    margin-bottom: 40px;
    align-self: flex-start;

    span {
      display: inline-block;
      background-color: #F16A62;
      width: 38px;
      height: 21px;
      text-align: center;
      border-radius: 20px;
      margin-left: 5px;
    }
  }

  &__mistake {

  }

  &__correct_block {
    align-self: flex-start;
    span {
      display: inline-block;
      background-color: #63C69F;
      width: 38px;
      height: 21px;
      text-align: center;
      border-radius: 20px;
      margin-left: 5px;
    }
  }

  &__correct {
    display: flex;
  }

  &__wrong {
    display: flex;
  }

  &__volumeIcon {
    width: 22px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/svg/sprint/volume_up.svg');
  }

  &__play-btn {
    margin-right: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/svg/sprint/volume_up.svg');
  }
}
